<h1>{{child.name_first}} {{child.name_last}}'s Profile</h1>
<p>Schedule: 
<ul>
{{#each child.signedUpDates as |value day|}}
<li> {{day}}: {{value}}</li>
{{/each}}
</ul>
</p>
<p>Age: {{child.age}}</p>
<p>Gender: {{child.gender}}</p>
<p>Allergies: {{child.allergies}}</p>
<p>Diet Restrictions: {{child.dietRestrictions}}</p>
<p>Notes: {{child.notes}}</p>
<p>Parent ID: {{child.ParentId}}</p>

<button class="btn btn-primary" action="/">Go Back</button>
