
      <p>Name First: {{name_first}}</p>
      <p>Name Last: {{name_last}}</p>
      <p>Age: {{age}}</p>
      <p>Gender: {{gender}}</p>
      <p>Allergies: {{allergies}}</p>
      <p>Diet Restrictions: {{dietRestrictions}}</p>
      <p>Notes: {{notes}}</p>
      <p>Parent ID: {{ParentId}}</p>