
      <p>Name First: {{name_first}}</p>
      <p>Name Last: {{name_last}}</p>
      <p>Address: {{address}}</p>
      <p>Phone: {{phone}}</p>
      <p>Email: {{email}}</p>
      <p>Child ID: {{ChildId}}</p>